body {
    font-family: sans-serif;
}

header{
    background-color: #c61a1a;
    padding: 10px;
    border: 20px solid #c61a1a;
    margin-bottom: 0;}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    border: 1px solid indigo;
    background-color: indigo;
    padding: 5px;
    border-radius: 10px;
    
}
main {
    
}

img{
    height:200px;
    widht:200px;
}

footer{
    background-color: #c61a1a;
    padding: 10px;
    border: 20px solid #c61a1a;
    margin-bottom: 0;}

p {
    font-size: 20px;
}
